.start-container {
  background-image: url(19f99af8e309be7637845af44decfa9b.png);
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto; }

.center {
  width: 250px;
  height: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -125px 0 0 -125px; }

.img-shrek {
  width: 250px;
  display: block;
  margin: 0; }

.select-wrapper > ul {
  bottom: initial !important; }

