.start-container {
  background-image: url("./StartPage/components/shrekfest.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.center{
  width: 250px;
  height: 400px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: -125px 0 0 -125px;
}

#reg-form{
  //border-radius: 15px 0 0 15px;
}

.img-shrek{
  width: 250px;
  display: block;
  margin: 0;
}

//.card-title{
//  font-size: 16px;
//  font-weight: bold;
//}